.table>tbody>tr {
	cursor: pointer;
}
.table>thead>tr>th {
	white-space: nowrap;
	/*font-size: 1.05rem !important;*/
}

.table>tbody>tr>td {
	white-space: nowrap
}

.table>tbody>tr.selected td {
	color: white !important;
	background-color: #3598DC !important;
}